<div>
    <h2>{{ date | date: 'fullDate' }}</h2>
    <p>Streak Joueur</p>
    <table>
        <tbody>
            <tr>
                <th>Lu</th>
                <th>Ma</th>
                <th>Me</th>
                <th>Je</th>
                <th>Ve</th>
                <th>Sa</th>
                <th>Di</th>
            </tr>
            <tr>

                <th *ngFor="let day of user.streaks">
                    <span *ngIf="day == 1">✅</span>
                    <span *ngIf="day == 0">❌</span>
                </th>
            </tr>
        </tbody>
    </table>
</div>