<div id="container">
    <div id="button-container">
        <div id="login">
            <input type="text" id="login" placeholder="Identifiant..." [formControl]="login">
        </div>
        <div id="password">
            <input type="text" id="password" placeholder="Mot de passe..." [formControl]="password">
        </div>
        <div id="connexion">
            <button [disabled]="!formulaire" (click)="connexionSub()" [ngClass]="{'active-button': formulaire, 'disabled-button': !formulaire}">Connexion</button>
        </div>
    </div>
</div>